/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20; /* 确保导航栏层级高于其他元素 */
  padding-top: 60px;  /* 适当增加顶部间距，以避免内容被遮挡 */

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: .5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

/* 给标题元素添加 margin 防止被导航栏遮挡 */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 80px;  /* 根据导航栏的高度调整，确保标题不被遮挡 */
}

/* 继续保持其他样式不变 */
.masthead__menu {
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-home-item {
  @include breakpoint($medium) {
    display: block !important;
  }
  display: none !important;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
